<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">


    <!-- 1 loading -->
    <div align="center" *ngIf="projectosService.cargando">
        <app-cargando></app-cargando>
    </div>
    <!-- fin loading -->

    <div class="rk-portfolio__items" *ngIf="!projectosService.cargando">
        <a *ngFor="let projecto of projectosService.projectos" [ngStyle]="{'background-image': 'url(assets/projectos/' + projecto.url + '.jpg)'}" [routerLink]="['/projecto', projecto.cod]" class="rk-item rk-item--flex item-1 rk-size-4 rk-tosize-3 rk-square ">
            <div class="item-meta">
                <h2>{{ projecto.titulo }}</h2>
                <p>{{ projecto.categoria }}</p>
            </div>
        </a>
    </div>

</section>